<html ng-app="botly">
    <head>
        <title>Botly Web App</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/angular-material.min.css">
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <md-content layout-fill>
            <ui-view></ui-view>
        </md-content>

        <script src="javascripts/angular.min.js"></script>
        <script src="javascripts/angular-animate.min.js"></script>
        <script src="javascripts/angular-aria.min.js"></script>
        <script src="javascripts/angular-material.min.js"></script>
        <script src="javascripts/angular-ui-router.min.js"></script>
        <script src="javascripts/angular-local-storage.min.js"></script>
        <script src="javascripts/botly.js"></script>
        <script src="javascripts/loginController.js"></script>
        <script src="javascripts/services/authFactory.js"></script>
    </body>
</html>
